@import '../variables/colors.scss';
@import '../variables/textStyles.scss';

.wordtestscore-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .wordtestscore-grade {
        align-self: stretch;
        color: $koreasy-color-primary;
        text-align: center;
        font-family: Pretendard;
        font-size: 36px;
        font-style: normal;
        font-weight: 800;
        line-height: 43px;
    }

    .wordtestscore-text {
        align-self: stretch;
        color: $koreasy-color-gray-00;
        text-align: center;
        @include body01-regular;
    }

    .wordtestscore-good {
        align-self: stretch;
        color: $koreasy-color-gray-00;
        text-align: center;
        @include title01-heavy;
    }
}
