@import '../variables/colors';
@import '../variables/textStyles';

div.badge {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    img.badge-check {
        display: none;
    }

    &.badge-active {
        div.badge-image {
            background: $koreasy-color-gray-04;

            img {
                opacity: 0.5;
            }
        }
    }

    &.check {
        div.badge-image {
            img.badge-check {
                border: #44da92 solid 2px;
                display: block;
                background: rgba(255, 255, 255, 0.8);
            }
        }
    }

    div.badge-image {
        border-radius: 50px;
        background: $koreasy-color-gray-06;
        margin: 0 0 8px 0;
        position: relative;
        width: 100px;
        height: 100px;

        img {
            width: 100px;
            height: 100px;
        }

        img.badge-check {
            border-radius: 50px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }
    }

    span.badge-title {
        @include body02-bold;
        color: black;
        text-align: center;
        margin: 0 0 4px 0;
    }

    span.badge-detail {
        @include subtext-regular;

        display: block;
        color: black;
        min-height: 18px;
        text-align: center;
    }
}
