@import '../variables/colors';

.line {
    display: flex;
    width: 100%;
    height: 0.5px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    background-color: $koreasy-color-gray-03;
}
