@import '../variables/colors';
@import '../variables/textStyles';

.background {
    display: flex;
    width: 100%;
    padding: 20px 10px 40px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    background-color: $koreasy-color-gray-06;

    .text {
        @include subtext-regular;
        color: $koreasy-color-gray-00;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }
}
