@import '../variables/colors';
@import '../variables/textStyles';

.page-title {
    @include title01-heavy;
    color: $koreasy-color-primary;
    display: flex;
    width: 100vw;
    padding: 0 20px 0 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .text {
        display: flex;
        height: 44px;
        align-items: center;
        gap: 10px;
        flex: 1 0 0;
        border-radius: 12px;
    }
}
