@import '../variables/colors';
@import '../variables/textStyles';

button.profile-button {
    background: none;
    border: none;

    &:hover {
        background: none;
        border: none;
    }

    div.profile-button-icon {
        background: $koreasy-color-gray-06;
        border-radius: 40px;
        padding: 10px;
        height: 80px;
        width: 80px;

        &.activities_icon {
            background:
                url('../../assets/images/activites.svg') no-repeat center,
                $koreasy-color-gray-06;
        }

        &.bookmarks_icon {
            background:
                url('../../assets/images/bookmarks.svg') no-repeat center,
                $koreasy-color-gray-06;
        }
    }

    span {
        @include body02-regular;

        color: $koreasy-color-black;
        text-align: center;
    }
}
