// WordTestQuiz.scss

.word-test-quiz-container {
    display: flex;
    flex-direction: column;

    .quiz-item {
        display: flex;
        flex-direction: column;
        margin: 16px 0;
        background-color: #e5e5ea;
        border-radius: 8px;

        .question {
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 16px;
        }

        .seonji-container {
            display: flex;
            flex-direction: column;

            .seonji-item {
                display: flex;
                align-items: center;
                margin-bottom: 16px;
            }
        }
    }

    .button {
        margin-right: 4px;
        margin-left: 16px;
    }

    .id {
        display: flex;
        padding: 4px 12px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;

        display: inline-block;

        border-radius: 8px;
        background: var(--gray-1, #8e8e93);
        // // display: inline-block;
        // // text-align: center;
        // // width: 37px;
        // // float: left;
        // background-color: aquamarine;
        // // border-radius: 8px;
        // // padding: 12px 4px;
        // margin-left: 12px;
        // margin-right: 12px;
    }
}
