// WordTestQuiz.scss
.word-test-quiz-container {
    display: flex;
    flex-direction: column;
    margin: 0px;

    .quiz-item {
        display: flex;
        flex-direction: column;
        // margin: 16px;z
        background-color: #e5e5ea;
        border-radius: 8px;
        margin-bottom: 12px;
        margin-left: 20px;
        margin-right: 20px;

        .question {
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 16px;
        }

        .seonji-container {
            display: flex;
            flex-direction: column;

            .seonji-item {
                display: flex;
                align-items: center;
                margin-bottom: 16px;
            }
        }
    }

    .button {
        margin-right: 4px;
        margin-left: 16px;
    }

    .test-key {
        margin: 0;
    }
}

.id {
    display: flex;
    padding: 4px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    display: inline-block;
    border-radius: 8px;
    background: var(--gray-1, #8e8e93);
    margin-left: 16px;
    margin-top: 20px;
}

.title-container {
    text-align: center;
    background-color: #8e8e93;
}

.title {
    font-size: 36px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.subtitle {
    font-size: 26px;
    margin-bottom: 0px;
    margin-top: 0px;
}
