.WordtestTitle {
    display: flex;
    flex-direction: column;
    // align-items: center;
    //justify-content: center;
    margin: 16px;
}

// .Rtitle {
//     font-size: 30px;
//     font: bold;
// }

.Babo {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #c7c7cc;
    padding-bottom: 16px;
}

.Testbutton {
    background-color: #35d488;
    color: #ffffff;
    border: none;
    margin-right: 12px;
    margin-left: 20px;
    width: calc((100vw - 52px) / 2);
    height: 40px;
    border-radius: 12px;
    font-size: medium;
}

.Learnbutton {
    border: none;
    background-color: #f2f2f7;
    color: #35d488;
    width: calc((100vw - 52px) / 2);
    margin-right: 20px;
    height: 40px;
    border-radius: 12px;
    font-size: medium;
}
