@import "./variables/colors";
@import "./variables/textStyles";


div.my-badge-button-group {
    display: flex;
    gap: 8px;
    padding: 32px 20px 0 20px;
    width: 100%;

    button.my-badge-button {
        border-radius: 12px;
        border: none;
        background: $koreasy-color-primary;
        color: $koreasy-color-white;
        padding: 8px 16px;
        height: 52px;
        width: 100%;

        @include subtitle-bold;
        text-align: center;

        &.cancel {
            background: $koreasy-color-gray-06;
            color: $koreasy-color-primary;
        }
    }
}