@import './variables/colors.scss';
@import './variables/textStyles.scss';

.card-background {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    @include body01-medium;
    color: $koreasy-color-gray-01;

    .kr-word {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        align-self: stretch;

        .kr-text {
            color: $koreasy-color-primary;
            @include title02-bold;
        }
    }

    .en-word {
        text-align: center;
        align-self: stretch;
    }
}

.carousel-control-next {
    width: 25px;
}

.carousel-control-prev {
    width: 25px;
}
