@import './variables/colors.scss';
@import './variables/textStyles.scss';

.wordbook-container {
    overflow: hidden;
    background-color: #fff;
    width: 393px;
    height: 844px;
    position: absolute;
    left: 0;
    top: 0;

    @media screen and (max-width: 768px) {
        width: 100%;
    }

    .wordbook-header {
        display: flex;
        width: 393px;
        height: 66px;
        justify-content: space-between;
        align-items: center;
        background-color: #f2f2f7;

        .service-name {
            @include title01-heavy;
            position: absolute;
            padding: 12px 20px 16px 20px;
            left: 0;
            right: 0;
            justify-content: space-between;
            align-items: center;
            float: left;

            .profile-icon {
                width: 36px;
                height: 36px;
                flex-shrink: 0;
                float: right;
            }
        }
    }

    .space {
        width: 393px;
        height: 32px;
    }

    .page-title {
        color: #44da92;
        text-align: center;
        @include title01-heavy;
        display: flex;
        padding: 0px 20px;
        height: 44px;
        flex: 1 0 0;
    }

    .date-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;

        .dateitem-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4px;
            text-decoration: none;

            .date-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 353px;
                padding: 12px 20px;

                .date-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 4px;
                    flex: 1;

                    .date-text {
                        color: #1c1c1e;
                        @include title02-bold;
                    }

                    .date-range {
                        color: #aeaeb2;
                        @include body01-regular;
                    }
                }

                .tabbar-item {
                    width: 24px;
                    height: 32px;
                    flex-shrink: 0;
                }

                .line {
                    width: 1px;
                    height: 100%;
                }
            }
        }
    }
}
