@import '../styles/variables/colors.scss';
@import '../styles/variables/textStyles.scss';

.word-test-main-container {
    display: flex;
    flex-direction: column;

    .word-test-list-title {
        padding-left: 0;
        align-items: center;
        margin-left: 20px;

        .big-title {
            @include title02-bold;
            color: $koreasy-color-black;
            margin-bottom: 4px;
        }

        .small-title {
            @include body01-regular;
            color: $koreasy-color-gray-01;
            margin-bottom: 16px;
        }
    }

    .word-test-button-set {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid;
        padding-bottom: 16px;
        margin-bottom: 12px;
        width: calc(100vw - 40px);
        margin-left: auto;
        margin-right: auto;
        color: $koreasy-color-gray-03;
    }
}
