@import '../variables/colors.scss';
@import '../variables/textStyles.scss';

.example-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px 8px 20px;
    width: 100vw;
    gap: 8px;

    .example-sentence {
        display: flex;
        padding: 8px 12px;
        flex-direction: column;
        align-items: flex-start;
        width: 90vw;
        gap: 4px;
        border-radius: 8px;
        border: 1px solid $koreasy-color-gray-03;

        .example-ko {
            align-self: stretch;
            color: $koreasy-color-gray-01;
            @include body01-medium;
        }
        .example-en {
            align-self: stretch;
            color: $koreasy-color-gray-01;
            @include body01-medium;
        }
    }
}
