// Default Colors (Light, Default)
$koreasy-color-primary: #44da92;
$koreasy-color-secondary: #64f0ad;
$koreasy-color-black: #1c1c1e;
$koreasy-color-white: #ffffff;
$koreasy-color-gray-00: #535356;
$koreasy-color-gray-01: #8e8e93;
$koreasy-color-gray-02: #aeaeb2;
$koreasy-color-gray-03: #c7c7cc;
$koreasy-color-gray-04: #d1d1d6;
$koreasy-color-gray-05: #e5e5ea;
$koreasy-color-gray-06: #f2f2f7;
$koreasy-color-red: #ff3b30;
$koreasy-color-yellow: #ffc940;
