.Container {
    overflow: hidden;
    background-color: #fff;
    width: 393px;
    height: 844px;
    position: absolute;
    left: 0%;
    top: 0%;

    @media screen and (max-width: 768px) {
        width: 100%;
    }

    .Header {
        display: flex;
        width: 393px;
        height: 66px;
        justify-content: space-between;
        align-items: center;
        background-color: #f2f2f7;

        .ServiceName {
            font-family: Pretendard;
            font-size: 26px;
            font-style: normal;
            font-weight: 800;
            line-height: 38px;
            position: absolute;
            padding: 12px 20px 16px 20px;
            left: 0px;
            right: 0px;
            justify-content: space-between;
            align-items: center;
            float: left;

            .ProfileIcon {
                width: 36px;
                height: 36px;
                flex-shrink: 0;
                float: right;
            }
        }
    }

    .Previous {
        display: flex;
        padding: 8px 20px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        background-color: #f2f2f7;

        .NavigationBarItem {
            display: flex;
            height: 22px;
            align-items: center;
            gap: 12px;

            .NavigationBar {
                width: 10.506px;
                height: 18.648px;
            }

            .NavigationText {
                color: #1c1c1e;
                font-family: Pretendard;
                font-size: 17px;
                font-style: normal;
                font-weight: 500;
                line-height: 22px;
            }
        }

        .Frame {
            width: 32px;
            height: 32px;
        }
    }

    .Space {
        width: 393px;
        height: 32px;
    }

    .PageTitle {
        color: #44da92;
        text-align: center;
        font-family: Pretendard;
        font-size: 26px;
        font-style: normal;
        font-weight: 800;
        line-height: 38px;
        display: flex;
        padding: 0px 20px;
        height: 44px;
        flex: 1 0 0;
    }

    .Content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .Item {
            display: flex;
            width: 353px;
            padding: 12px 20px;
            justify-content: space-between;
            align-items: center;

            .ItemState {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 8px;

                .ItemInfo {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 4px;

                    .ItemStandard {
                        display: flex;
                        align-items: center;
                        gap: 8px;

                        .ItemName {
                            color: #44da92;
                            font-family: Pretendard;
                            font-size: 22px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 32px;
                        }

                        .Pronunciation {
                            color: #8e8e93;
                            font-family: Pretendard;
                            font-size: 17px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 22px;
                        }
                    }

                    .ItemType {
                        color: #8e8e93;
                        font-family: Pretendard;
                        font-size: 17px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 22px;
                    }
                }

                .Example {
                    display: flex;
                    padding: 4px 16px;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 10px;
                    border-radius: 8px;
                    border: 1px solid #c7c7cc;

                    .ItemExample {
                        color: #44da92;
                        font-family: Pretendard;
                        font-size: 17px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 22px;
                    }
                }
            }

            .BookmarkIcon {
                width: 18px;
                height: 24px;
                flex-shrink: 0;
            }
        }
        .LineWeek {
            margin: 0 auto;
        }
    }
}
