div.badge-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/*
div.badge-group {
    grid-template-columns: repeat(6, 1fr);
}

@media screen and (max-width: 440px) {
    div.badge-group {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 550px) {
    div.badge-group {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 660px) {
    div.badge-group {
        grid-template-columns: repeat(5, 1fr);
    }
}
*/

@media screen and (max-width: 330px) {
    div.badge-group {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 220px) {
    div.badge-group {
        grid-template-columns: 1fr;
    }
}