@import '../styles/colors.scss';

.line {
    display: flex;
    width: 100vw;
    height: 0.5px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    background-color: $default-color-system-gray-03;
}
