@import '../styles/colors.scss';
@import '../styles/textStyles.scss';

.previous-view {
    @include body01-medium;
    background-color: $default-color-system-gray-06;
    display: flex;
    width: 100vw;
    padding: 8px 20px;
    justify-content: space-between;
    align-items: center;

    .text {
        display: flex;
        height: 22px;
        align-items: center;
        gap: 12px;
    }

    .dump-box {
        width: 32px;
        height: 32px;
        flex-shrink: 0;
    }
}
