@import './variables/colors.scss';
@import './variables/textStyles.scss';

.thumbnail-background {
    display: flex;
    width: calc(100vw - 40px);
    align-items: center;
    gap: 20px;

    border-radius: 20px;
    background-color: $koreasy-color-gray-06;
    .img {
        display: flex;
        width: 129px;
        height: 200px;

        flex-shrink: 0;

        align-self: stretch;
        .thumbnail-img {
            border-radius: 20px 0 0 20px;
        }
    }
    .text-area {
        @include title02-bold;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        flex: 1 0 0;

        .text-lite {
            @include body02-bold;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;
            color: $koreasy-color-primary;

            .chevrion-box {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 24px;
                height: 32px;
            }
        }
    }
}
